 <main>
        <p id="notice"></p>
        <div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
  		<h1>Editing Book</h1>
    	
<!--  		<form action="/books/139654" accept-charset="UTF-8" method="post"><input type="hidden" name="_method" value="patch" autocomplete="off" /><input type="hidden" name="authenticity_token" value="ioIqcgU9qAc0Ihm4RGnYXXsSsFz188-wuMA6_JXSiPzYHDNQg97XTo5JO7vb8tVmunXROzr6p_lKsBvqSNxyFw" autocomplete="off" />-->
<!--  <div class="form-group">-->
<!--    <label for="book_title">Title</label>-->
<!--    <input class="form-control book_title" type="text" value="ko" name="book[title]" id="book_title" />-->
<!--  </div>-->
<!--  <div class="form-group">-->
<!--    <label for="book_opinion">Opinion</label>-->
<!--    <textarea class="form-control book_body" name="book[body]" id="book_body">-->
<!--jkoo</textarea>-->
<!--  </div>-->
<!--  <div class="form-group">-->
<!--    <input type="submit" name="commit" value="Update Book" class="btn btn-success" data-disable-with="Update Book" />-->
<!--  </div>-->
<!--</form>-->
<!--  		<a class="book_139654" href="/books/139654">Show</a> |-->
<!--  		<a class="back" href="/books">Back</a>-->
<!--  </div>-->
<!--</div>-->
<!--      </main>-->
      
<%= form_with model: @book, url: book_path(@book.id), method: :patch do |f| %>

  <h4>Title</h4>
  <%= f.text_field :title, class: 'form-control' %>

  <h4>Opipnion</h4>
  <%= f.text_area :body, class: 'form-control' %><br>

  <%= f.submit 'Update Book', class: 'btn btn-success' %><br>

  <%= link_to "Show", book_path(@book.id) %>  |
  <a class="back" href="/books">Back</a>


<% end %>      